<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Workstation - Connection</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        {% block style %}{% endblock style %}
    </head>
    <body>
        <div class="h-100">
            <div id="particles-js"></div>
            <div class="d-flex justify-content-center h-100">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <script type="text/javascript" src="/static/js/zxcvbn.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/particles.min.js"></script>
        <script src="/static/js/particles-settings.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/fontawesome.min.js"></script>
        <script src="/static/js/entryValidation.js"></script>
        <script src="/static/js/validation.js"></script>
        <script src="/static/lib/toastr.min.js"></script>
    </body>
</html>
